body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.nav {
    grid-area: nav;
    background-color: #f4f4f4;
    padding: 20px;
}

.main {
    grid-area: main;
    /* padding: 20px; IMPORTANT, if this is added back it makes children not take whole space and adds white space after the footer */
    display: grid;
    grid-template-areas:
        "left-section right-section";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100% 2fr;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.left-section {
    grid-area: left-section;
    padding: 20px;
    background-color: #29c2ff;
    color: white;
}

.right-section {
    grid-area: right-section;
    padding: 20px;
    background-color: #ff9f3f;
    color: white;
}
